@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body {
    font-family: "Lato", sans-serif;
}
.outer-box {
    width: 100vw;
    height: 100vh;
    background: #80ed99;
}

.inner-box {
    width: 300px;
    margin: 0 auto;
    position: relative;
    background: linear-gradient(to top left,#ffffffff,#f6f3f3d6);
    backdrop-filter: blur(8px);
    top: 40%;
    transform: translateY(-50%);
    padding: 10px 30px;
    /* background-color: azure; */
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgb(106, 43, 254);
    z-index: 2;
}
h1 {
    font-size: 2.5rem;
    color: #212121;
    text-align: center;
}
.p1 {
    font-size: 0.8rem;
    color: rgb(101, 100, 100);
}

.signup-body {
    margin: 20px 0px;
}
.signup-body p {
    margin: 10px 0px;
}

.signup-body p label {
    display: block;
    font-weight: bold;
}

.signup-body p input {
    width: 100%;
    padding: 10px;
    border: 2px solid #cccc;
    border-radius: 4px;
    font-size: lrem;
    margin-top: 4px;
}

.signup-body p input[type="submit"] {
  background-color: #22577a;
  border:none ;
  color:white;
  cursor: pointer;
}

.signup-body p input[type="submit"]:hover {
    background-color: #0574bf;
}

.signup-footer p {
    color: #555;
    text-align: center;
}
.signup-footer p a {
    color: #3498db;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: linear-gradient(to top right,#ffffff33,#ffffffff );
    position: absolute;
}

.c1 {
    top: 100px;
    left: 40px;
}

.c2 {
    bottom: 200px;
    right: 50px;
}